# --- OS ---
.DS_Store
Thumbs.db

# --- IDEs / Editors ---
.idea/
.vscode/
*.iml

# --- Flutter / Dart ---
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/

# --- Node / TypeScript ---
node_modules/
.astro/
dist/
coverage/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Environment files ---
.env
.env.*
